:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .content {
    margin-left: 235px; /* Adjust based on your sidebar width */
    padding-top: 50px;  /* Adjust based on your header height */
    padding-bottom: 20px; /* Adjust based on your footer height */
    width: calc(100% - 250px); /* Adjust based on your sidebar width */
    flex: 1;
    overflow-y: auto;
  }
  