.card-title {
  font-size: 2rem;
}

.card-text, ul, ol {
  font-size: 1.1rem;
}

.list-ordered li {
  margin-bottom: 10px;
}

ul li, ol li {
  display: flex;
  align-items: center;
}

ul li i, ol li i {
  margin-right: 8px;
}
.icon-small {
  font-size: 1.4rem;
}
