<div class="px-3 py-2 bg-dark text-white custom-navbar">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <i class="fas fa-bootstrap fa-2x"></i>
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-secondary">
                <i class="fa fa-home" aria-hidden="true"></i>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white active">
              <i class="fas fa-tachometer-alt d-block mx-auto mb-1"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="fas fa-box d-block mx-auto mb-1"></i>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <i class="fas fa-th d-block mx-auto mb-1"></i>
              Products
            </a>
          </li>
          <li>
            <a routerLink="/carLoan/sign-in" class="nav-link text-white">
              <i class="fas fa-sign-out-alt d-block mx-auto mb-1"></i>
              Sign Out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  