.custom-navbar .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.custom-navbar .nav-link.active {
  color: #007bff;
}

.custom-navbar .nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

.custom-navbar i {
  font-size: 1.5rem; /* Adjust the icon size */
  margin-bottom: 0.5rem;
}

.custom-navbar .nav-link.text-secondary {
  color: #6c757d;
}

.custom-navbar .nav-link.text-secondary:hover {
  color: #007bff;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

