<div class="sidebar bg-dark">
  <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sidebar</span>
  </div>
  <hr>
  <ul *ngFor="let btn of userButtons[0][userType]" class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <button (click)="navigateTo(btn.link)" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        {{btn.label}}
      </button>
    </li>
    <br>
  </ul>
  <hr>
  <div class="dropdown">
    <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-user fa-2x me-2"></i>
      <strong>{{userType}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><span class="dropdown-item-text">ID: </span></li>
      <li><span class="dropdown-item-text">Email: </span></li>
    </ul>
  </div>
</div>
