.sidebar {
  padding: 1rem;
  background-color: #343a40;
  color: white;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 60px;
  margin-top: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: white;
  background: none;
  border: none;
  text-align: left;
  padding: 0.5rem 1rem;
  width: 100%;
}

.nav-link.active {
  background-color: #5d646b;
}

.nav-link svg {
  margin-right: 1.5rem;
}

.nav-link:hover {
  background-color: #495057;
  color: white;
}

.nav-link:focus {
  outline: none;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  color: white;
}

.dropdown-toggle:hover {
  text-decoration: none;
}

.dropdown-menu-dark {
  background-color: #343a40;
}

.dropdown-item-text {
  color: white;
  padding: 0.5rem 1rem;
}

.dropdown-item-text:hover {
  background-color: #495057;
  color: white;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-menu{
  color: white;
}